@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Epilogue', sans-serif;
}
body{
    line-height: 1.5;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--AlmostWhite);
}
.textDiv{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 800px;
    margin-right: 50px;
}
.textDiv .btn{
    width: 150px;
    font-weight: 500;
    padding: 15px;
    border-radius: 10px;
    background-color: var(--AlmostBlack);
    color: var(--AlmostWhite);
    margin-bottom: 40px;
    cursor: pointer;
}
.textDiv .btn:hover{
    background-color: transparent;
    outline: 1px solid var(--AlmostBlack);
    color: var(--AlmostBlack);
}
.textDiv h1{
    line-height: 1;
    word-wrap:break-word;
    font-size: 5rem;
    margin-bottom: 40px;
}
.textDiv p{
    width: 400px;
    margin-bottom: 40px;
}
.logoDiv{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logoDiv .logo{
    margin-right: 40px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
.container .imgDiv img{
    width: 400px;
}


nav{
    position: fixed;
    top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
}
nav .logoMenu{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logoMenu ul{
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .signOut ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .signOut ul li, nav .logoMenu ul li{
    margin-left: 30px;
    display: flex;
    align-items: center;
    font-size: .8rem;
    font-weight: 500;
}
nav .signOut ul li:hover, nav .logoMenu ul li:hover{
    font-weight: 700;
    cursor: pointer;
}
nav .logoMenu ul li img{
    margin-left: 5px;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--AlmostBlack);
}
.registerBtn{
    outline: 1px solid var(--AlmostBlack);
    background-color: transparent;
    padding: 10px 25px;
    border-radius: 10px;
    cursor: pointer;
}
.registerBtn:hover{
    background-color: var(--AlmostBlack);
    color: var(--AlmostWhite);
}

/* DropDowns */

nav .logoMenu .featDrop{
    position: absolute;
    top: 30px;
    left: 80px;
    border-radius: 10px;
    background-color: var(--AlmostWhite);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    padding: 20px;
    display: none;
}
nav .logoMenu .featDrop ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
}
nav .logoMenu .featDrop ul li {
    margin: 5px auto;
}
nav .logoMenu .featDrop ul li img {
    padding: 5px;
}


nav .logoMenu .companyDrop{
    position: absolute;
    top: 30px;
    left: 230px;
    border-radius: 10px;
    background-color: var(--AlmostWhite);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    padding: 20px;
    display: none;
}
nav .logoMenu .companyDrop ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
}
nav .logoMenu .companyDrop ul li {
    margin: 5px auto;
}
nav .logoMenu .companyDrop ul li img {
    padding: 5px;
}


.arrow{
    transition: 0.5s ease;

}
.arrow.active{
    rotate: 180deg;
}

.arrow2{
    transition: 0.5s ease;
}
.arrow2.active{
    rotate: 180deg;
}
:root{
    --AlmostWhite: hsl(0, 0%, 98%);
    --MediumGray: hsl(0, 0%, 41%);
    --AlmostBlack: hsl(0, 0%, 8%);
}






















































/* .featDrop ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 10px;
}
.featDrop li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    background-color: red;
}


.featDrop ul li{
    margin: 5px auto;
}
nav .logoMenu .featDrop ul li img{
    padding: 10px;
} */